.education {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edu_row {
  align-items: center;
  padding: 10px;
}        


.msc {
  text-align: left;
  font-size: large;
  background-color: black;
  color: white;
  margin: 30px;
  padding: 20px;
  width: 315px;
  border: 1px solid white;
}

.bsc {
  text-align: left;
  font-size: large;
  background-color: black;
  color: white;
  margin: 30px;
  padding: 20px;
  width: 315px;
  border: 1px solid white;
}

.hsc {
  text-align: left;
  font-size: large;
  background-color: black;
  color: white;
  margin: 30px;
  padding: 20px;
  width: 315px;
  border: 1px solid white;
}

.ssc {
  text-align: left;
  font-size: large;
  background-color: black;
  color: white;
  margin: 30px;
  padding: 20px;
  width: 315px;
  border: 1px solid white;
}