.footer {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color:#05203a;
    align-items: center;
    justify-content: center;
    position: sticky;
    object-fit: contain;
    width: 100%;
    height: 80px;
}

.socialMedia {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.social_Facebook {
    margin-left: 10px;
    margin-right: 10px;
    color: #4267B2;
}

.social_Instagram {
    margin-left: 10px;
    margin-right: 10px;
    color: #bc2a8d; 
}

.social_Github {
    margin-left: 10px;
    margin-right: 10px;
    color:  #8a3ab9; 
}

.social_Youtube {
    margin-left: 10px;
    margin-right: 10px;
    color:  #FF0000; 
}

.social_Linkedin {
    margin-left: 10px;
    margin-right: 10px;
    color: #0072b1; 
}
