.header {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: black;
    align-items: center;
    justify-content: center;
    position:sticky;
    width: 100%;
    max-height: 80px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 5px;
}

.header_homeIcon {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

.about_header{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.work_header{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.edu_header{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}


.skill_header{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.project_header{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}