.project {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project > p {
    text-align: center;
    font-size: large;
    color: white;
    margin: 10px;
}