.skill {
    display: grid;
    background-color: black;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.skill_row {
    display: flex;
    margin: 10px;
    padding: 10px;
}
.skill_row > img {
    object-fit: cover;
    width: 352px;
    height: 240px;
    margin: 20px;
    padding: 10px;
}