.skill {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill_row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.skill_row > img {
  object-fit: cover;
  width: 352px;
  height: 240px;
  margin: 20px;
  padding: 10px;
}